

<!-- Container element -->
<div class="parallax">
  <div class="headertext">
    Finding training is about <br/>
    to get a whole lot easier.<br/>
    <button class="button button1" onclick="parent.location='http://eepurl.com/clUNXL'">Try the Beta</button>
  </div>
</div>

<div class="partners_header">
  <%= link_to "/partners",target:"_blank" do
    image_tag("/site_images/partner_icons/mcmasters_university_gray.png",class:"client-logos",alt:"On twitter", onmouseover: "this.src='#{asset_path("/site_images/partner_icons/mcmasters_university_color.png")}'", onmouseout: "this.src='#{asset_path("/site_images/partner_icons/mcmasters_university_gray.png")}'")
  end %>
  <%= link_to "/partners",target:"_blank" do
      image_tag("/site_images/partner_icons/the_forge_gray.png",class:"client-logos",alt:"On twitter", onmouseover: "this.src='#{asset_path("/site_images/partner_icons/the_forge_color.png")}'", onmouseout: "this.src='#{asset_path("/site_images/partner_icons/the_forge_gray.png")}'")
  end %>

  <%= link_to "/partners",target:"_blank" do
      image_tag("/site_images/partner_icons/mcmasters_inovation_park_gray.png",class:"client-logos",alt:"On linkedin", onmouseover: "this.src='#{asset_path("/site_images/partner_icons/mcmasters_inovation_park_color.png")}'", onmouseout: "this.src='#{asset_path("/site_images/partner_icons/mcmasters_inovation_park_gray.png")}'")
  end %>

  <%= link_to "/partners",target:"_blank" do
      image_tag("/site_images/partner_icons/if_gray.png",class:"client-logos",alt:"On linkedin", onmouseover: "this.src='#{asset_path("/site_images/partner_icons/if_color.png")}'", onmouseout: "this.src='#{asset_path("/site_images/partner_icons/if_gray.png")}'")
  end %>
  <%= link_to "/partners",target:"_blank" do
      image_tag("/site_images/partner_icons/iec_gray.png",class:"client-logos",alt:"On google plus", onmouseover: "this.src='#{asset_path("/site_images/partner_icons/iec_color.png")}'", onmouseout: "this.src='#{asset_path("/site_images/partner_icons/iec_gray.png")}'")
  end %>

</div>

<hr>

<div class="top_header">
  <h1 id="rejoice">Training Seekers Rejoice!</h1>
  <div class="orange_line"></div>
  <p>An online marketplace dedicated to connecting you with the certified training providers you need.</p>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="well block_border">
        <i class="fa fa-map-pin" style="color:orange;"aria-hidden="true"></i>
        <br/>
        <h3>Everything in One Spot</h3>
        <p>Starting in early 2017, you will be able to choose and book with hundreds of training providers across Canada.</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well block_border">
        <i class="fa fa-check" style="color:orange;" aria-hidden="true" ></i>
        <br/>
        <h3>Only Certified Trainers</h3>
        <p>Our compliance process ensures that all trainers have the qualifications & insurance to deliver certified training.</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well block_border">
        <i class="fa fa-child" aria-hidden="true"></i>
        <br/>
        <h3>No Reservation Fees</h3>
        <p>Rest assured. You will never be charged a booking or administration fee in addition to the cost of the course.</p>
      </div>
    </div>
  </div>
</div><br>

<hr/>

<div class="top_header">
  <h1 id="rejoice">Training Provider Benefits</h1>
  <div class="orange_line"></div>
  <p>Training providers will finally be able to leverage the power of an online marketplace and network specifically dedicated to skill-enhancing training.</p>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="pic-container">
        <div class="pic-container-inner">
          <img src="/site_images/icons/up_arrows.png" id="picHundred" alt="Image">
        </div>
      </div>
      <div class="well block_border">
        <br/>
        <h3>Unmatched Return</h3>
        <p>TrainingSeeker's best-in-class Search Engine Optimization and digital marketing will attract buyers from your area and across Canada, helping you target a once distant customer base.</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="pic-container">
        <div class="pic-container-inner">
          <img src="/site_images/icons/clock_150.png" id="picHundred" alt="Image">
        </div>
      </div>
      <div class="well block_border" >
        <br/>
        <h3>Time Saved</h3>
        <p>The days of doing things manually is long gone. Respond to inquiries, send quotes and track orders all through TrainingSeeker's easy to use Seller Dashboard.</p>
        <br/>
        <br/>
        <br/>
     </div>
    </div>
    <div class="col-sm-4 ">
      <div class="pic-container">
        <div class="pic-container-inner">
          <img src="/site_images/icons/desk_150.png" id="picHundred" alt="Image">
        </div>
      </div>
      <div class="well block_border" >
        <br/>
        <h3>No Setup Fees</h3>
        <p>Apply for our Beta and TrainingSeeker will cover all your account setup fees. After that, we don’t get paid unless we put a student in your seat. Forever.</p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div><br>




<div class="parallax_2">
  <div id="parallaxTwo">
    Want to learn more about TrainingSeeker?
    <br/>
    <button class="button button1" onclick="window.open('/pdfs/20_jan_17_business_profile_trainingseeker.pdf', '_blank');">DOWNLOAD OUR BUSINESS PROFILE</button>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="well block_border">
        <i class="fa fa-envelope-o colored-text" id="emailUs"></i>
        <br/>
        <h3>Email Us:</h3>
        <p><a class="orange_links" href="mailto:info@trainingseeker.com?Subject=Contact%20us" target="_top">info@trainingseeker.com</a>
<br/><br/><br/></p>

      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well block_border" onclick="window.open('https://www.google.ca/maps/place/175+Longwood+Rd+S+%23301a,+Hamilton,+ON+L8P+0A1/@43.2568689,-79.9032231,17z/data=!3m1!4b1!4m5!3m4!1s0x882c9b436c3d0ca1:0x61936334a15ee0a4!8m2!3d43.2568689!4d-79.9010344', '_blank');">
        <i class="fa fa-map-o colored-text" id="emailUs" style="color:orange;"aria-hidden="true"></i>
        <br/>
        <h3>Find Us:</h3>
        <p>
          175 Longwood Rd S Suite 301A<br/>
          Hamilton Ontario<br/>
          L8P 0A1<br/>
        </p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well block_border" >
        <i class="fa fa-phone colored-text"style="color:orange;"aria-hidden="true"></i>
        <br/>
        <h3>Call Us:</h3>
        <p>+1-403-200-8008<br/><br/><br/></p>
      </div>
    </div>
  </div>
</div><br>
<style>
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
<div style="width:100%;color:
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPIGOhcHPRs84IEnEiVqwEQFmEZ0AkEv8&libraries=places&callback=initAutocomplete"
        async defer></script>
