
<div class="content_wrapper">
  <div id="center">
    <h1>Our Partners, Mentors, Supporters and Champions</h1>
    <p class="static_page_p">
      Here at TrainingSeeker, we are extremely grateful for the mentorship, resources, support, and encouragement given to us by the following organisations and great people that work there!
    </p>
  </div>
  <hr>

  <div style="text-align:center;">
    <%= image_tag("/site_images/icons/IF_300_174.jpg",alt:"Innovation Factory (iF)",width:"210",height:"99") %>
  </div>
  <h3>Innovation Factory (iF)</h3>
  <p class="static_page_p">
  Innovation Factory (iF) is a not-for-profit Regional Innovation Centre funded by the Ontario Network of Entrepreneurs and located at McMaster Innovation Park in Hamilton, Ontario.
  iF ignites innovation through workshops, programming, one-on-one mentoring and aiding with access to funding. iF helps startups commercialize their ideas and small/medium enterprises innovate within their organizations. Whether you have an idea on the back of a napkin or have a working product with paying customers, iF can help get you to the next level.
  </p>
  <br/>
  <div id="center">
    <a href="http://innovationfactory.ca/" class="orange_links_medium">http://innovationfactory.ca/</a>
    <br/>
    <br/>
    <%= link_to "https://twitter.com/@itbeginswithif",target:"_blank" do
        image_tag("/site_images/icons/twitter_color_150.png", alt:"trainingseeker on twitter",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/twitter_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/twitter_color_150.png")}'")
    end %>
    <%= link_to "https://www.facebook.com/innovationfactory.ca",target:"_blank" do
        image_tag("/site_images/icons/facebook_color_150.png", alt:"trainingseeker on facebook",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/facebook_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/facebook_color_150.png")}'")
    end %>
  <br/>
  </div>
  <hr>

  <br/>
  <div id="center">
    <%= image_tag("/site_images/icons/the_forge_768_218.jpg",alt:"The Forge",width:"339",height:"96") %>
  </div>
  <h3>The Forge</h3>
  <p class="static_page_p">
    The Forge is Hamilton’s startup incubator and McMaster University’s on-campus entrepreneurship initiative (The Forge@Mac).  The Forge supports new tech companies and students interested in entrepreneurship by providing co-working space across two locations (at McMaster Innovation Park and in downtown Hamilton), training, resources and a network of alumni and mentors.
    The Forge is funded by the Government of Ontario through the Campus-Linked Accelerator (CLA) program, managed by Ontario Centres of Excellence. It is a partnership between McMaster University, Innovation Factory, and Mohawk College.  The Forge is a member of the Ontario Network of Entrepreneurs.
  </p>
  <div id="center">
  <br/>
  <a href="https://theforge.mcmaster.ca/" class="orange_links_medium">https://theforge.mcmaster.ca/</a>
  <br/>
  <br/>
  <%= link_to "https://twitter.com/theforgehamont",target:"_blank" do
      image_tag("/site_images/icons/twitter_color_150.png", alt:"trainingseeker on twitter",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/twitter_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/twitter_color_150.png")}'")
  end %>
  <%= link_to "https://www.facebook.com/theforgehamont/",target:"_blank" do
      image_tag("/site_images/icons/facebook_color_150.png", alt:"trainingseeker on facebook",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/facebook_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/facebook_color_150.png")}'")
  end %>
  </div>
  <hr>
  <br/>
  <div id="center">
    <%= image_tag("/site_images/icons/MIP.jpg",alt:"McMaster Innovation Park",width:"356",height:"64") %>
  </div>
  <h3>McMaster Innovation Park</h3>
  <p class="static_page_p">
    McMaster Innovation Park (MIP) is an award-winning, premier research and innovation park located approximately 2 kilometers from the internationally recognized McMaster University in Hamilton, Ontario. McMaster Innovation Park is an important part of the innovative ecosystem in Hamilton by supporting startups, business, research and offering collaborative space for each sector to co-locate, connect and commercialize; a place to transform ideas from vision to commercial reality.
    Entrepreneurs, firms, researchers, industry partners, business mentors and support facilities can connect and facilitate commercialization. MIP is committed to using sustainable design principles, transforming former brownfields into a premier research park at a LEED silver or higher level.
  </p>
  <br/>
  <div id="center">
  <a href="https://mcmasterinnovationpark.ca/" class="orange_links_medium">https://mcmasterinnovationpark.ca/</a>
  <br/>
  <br/>
  <%= link_to "https://twitter.com/MIP_Hamilton",target:"_blank" do
      image_tag("/site_images/icons/twitter_color_150.png", alt:"trainingseeker on twitter",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/twitter_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/twitter_color_150.png")}'")
  end %>
  <%= link_to "https://www.facebook.com/mcmasterinnovationpark/",target:"_blank" do
      image_tag("/site_images/icons/facebook_color_150.png", alt:"trainingseeker on facebook",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/facebook_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/facebook_color_150.png")}'")
  end %>

  </div>
  <hr>

  <div id="center">
    <%= image_tag("/site_images/icons/MILO.jpeg",alt:"McMaster Industry Liaison Office",width:"217",height:"133") %>
  </div>
  <h3>McMaster Industry Liaison Office</h3>

  <p class="static_page_p">
    The McMaster Industry Liaison Office (MILO) supports the research endeavors of McMaster University by facilitating collaborative research with industry partners and disseminating research results through commercialization.
    MILO is a unit of the Research and International Affairs Office at McMaster University that helping researchers advance collaborative research, obtain funding, evaluate and protect intellectual property, license technologies, establish and support spin-offs and educate the research community.
  </p>
  <br/>
  <div id="center">
    <a href="https://milo.mcmaster.ca/" class="orange_links_medium">https://milo.mcmaster.ca/</a>
  </div>

  <hr>
  <div id="center">
    <%= image_tag("/site_images/icons/ICEH_150.jpeg",alt:"Industry-Education Council of Hamilton",width:"144",height:"144") %>
  </div>

  <h3>Industry-Education Council of Hamilton</h3>
  <p class="static_page_p">
    Established in 1978 as Canada’s first Industry-Education Council (IEC), the IEC is a not-for-profit organization located in Hamilton, Ontario. IEC champions career exploration. Through programming, group mentoring and facilitating partnership discussions, IEC helps stakeholders showcase their industry or sector, to their future workforce, through practical hands-on learning opportunities.
    Whether you are: a business owner with an impending skills shortage; an individual with an interest in mentoring the next generation; or a teacher who would like to bring the curriculum to life, IEC can help you make the right connections.
  </p>
  <div id="center">
  <a href="http://www.iechamilton.ca/" class="orange_links_medium">http://www.iechamilton.ca/</a>
  <br/>
  <br/>
  <%= link_to "https://twitter.com/IECHamilton",target:"_blank" do
      image_tag("/site_images/icons/twitter_color_150.png", alt:"trainingseeker on twitter",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/twitter_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/twitter_color_150.png")}'")
  end %>
  <%= link_to "https://www.facebook.com/IECHamilton/",target:"_blank" do
      image_tag("/site_images/icons/facebook_color_150.png", alt:"trainingseeker on facebook",width:"41", height:"41", onmouseover: "this.src='#{asset_path("/site_images/icons/facebook_gray_150.png")}'", onmouseout: "this.src='#{asset_path("/site_images/icons/facebook_color_150.png")}'")
  end %>
  </div>
  <hr>
  <div id="center">
    <%= image_tag("/site_images/icons/HHH_300_174.png",alt:"Hamilton Hustles Harder",width:"140",height:"82") %>
  </div>
  <br/>
  <br/>
  <br/>
</div>
